<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Is featured:</strong>
    <%= article.is_featured %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= article.employee_id %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= article.tenant_id %>
  </p>

</div>
