<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= company.slug %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= company.active %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= company.sector_id %>
  </p>

</div>
