<p style="color: green"><%= notice %></p>

<%= render @employee_role %>

<div>
  <%= link_to "Edit this employee role", edit_employee_role_path(@employee_role) %> |
  <%= link_to "Back to employee roles", employee_roles_path %>

  <%= button_to "Destroy this employee role", @employee_role, method: :delete %>
</div>
